/* COMMUN A TOUTE LA PAGE */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html,body
{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 0px;
}

.fond-commun {
    background-color: #ffffff;
    border: outset #555555 6px;
}

h1 {
    font-family: "Playball", Georgia, serif; 
    font-size: 60px;
    font-weight: bold;
    color: rgb(184, 3, 134);
}

h2 {
    font-family: "Playball", Georgia, serif; 
    font-size: 45px;
    font-weight: bold;
    color: #000000;
}

h3 {
    transform: rotate(-90deg);
    font-size: 5rem;
    margin-top: 30px;
    position: absolute;
    left: -122px;
    /* bottom: 120px; */

    /* ajuster la position a la fin */
}

/* <-- NAVBAR --> */
/* <-- =========================================================================================================================================================================================================== --> */
nav img {
    width: 10vw;
}

.navbar-nav a {
    font-family: "Lobster two", Georgia, serif;
    font-size: 35px;
    font-weight: bold;
}

.navbar-nav a:hover {
    transform: scale(1.2);
    transition: 1.5s;
}


/* ACCUEIL */
/* ================================================================= */

#accueil-a-propos {
    background-image: url(../ressources/images/background-code.png);
    background-size: cover;
    background-position: center;
}

/* A PROPOS */
/* ================================================================= */

#photo-portrait {
    width: 15vw;
    border-radius: 100%;
    border: outset #555555 6px;
}