/* COMMUN A TOUTE LA PAGE */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html,body
{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 0px;
}

h1 {
    font-family: "Playball", Georgia, serif; 
    font-size: 60px;
    font-weight: bold;
    color: rgb(184, 3, 134);
}

h2 {
    font-family: "Playball", Georgia, serif; 
    font-size: 45px;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-family: "Playball", Georgia, serif; 
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    border-bottom: double rgb(184, 3, 134) 12px;
}

h4 {
    font-family: "Lobster two", Georgia, serif;
    font-size: 40px;
    font-weight: bold;
}

h5 {
    font-family: "Lobster two", Georgia, serif;
    font-size: 30px;
    font-weight: bold;
}

p {
    font-family: "Lobster two", Georgia, serif;
    color: #000000;
}

span {
    font-weight: bold;
}

 ul {
    list-style: none;
    padding: 0;
    font-family: "Lobster two", Georgia, serif;
    font-size: 23px;
    color: #000000;
}

/* <-- NAVBAR --> */
/* <-- =========================================================================================================================================================================================================== --> */
nav img {
    width: 10vw;
}

.navbar-nav a {
    font-family: "Lobster two", Georgia, serif;
    font-size: 35px;
    font-weight: bold;
}

.navbar-nav a:hover {
    transform: scale(1.2);
    transition: 1.5s;
}


/* ACCUEIL */
/* ================================================================= */

#accueil {
    background-image: url(../ressources/images/my-code.png);
    background-size: cover;
    border-bottom: solid #6c757d 2px;
}

.titre-accueil {
    background-color: rgba(241, 241, 241, 0.6);
}

/* A PROPOS */
/* ================================================================= */

#photo-portrait {
    width: 10vw;
    border-radius: 100%;
    border: outset #6c757d 3px;
    filter: grayscale(1);
}

#photo-portrait:hover {
    border: outset #f8f9fa 6px;
    filter: none;
    transform: scale(1.2);
    transition: 1.5s;
}

.presentation p {
    font-size: 27px;
}

.it {
    font-style: italic;
    font-weight: initial;
}

.infos {
    border: outset #6c757d 3px;
    border-radius: 10px;
}

.infos .card-header {
    border-bottom: outset #6c757d 2px;
}




/* COMPETENCES */
/* ================================================================= */

#competences p {
    font-size: 30px;
}

.cadre-competences {
    border: outset #6c757d 2px;
}

.intitule-competence {
    border-bottom: outset #6c757d 2px;
}

.progress {
    border: solid #6c757d 1px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
}

.progress-bar {
    animation: progress-bar-stripes 1.5s linear infinite;
    animation-delay: 0s;
    animation-direction: reverse;
}

/*<-- LANGAGES -->*/
.progress-bar-html {
    background-color: #e44d26;
}

.progress-bar-css {
    background-color: #1759a7;
}

.progress-bar-javascript {
    background-color: #cfad04;
}

.progress-bar-php {
    background-color: #505e9b;
}

.progress-bar-mysql {
    background-color: #e48c04;
}

/*<-- FRAMEWORKS -->*/
.progress-bar-bootsrap {
    background-color: #563e7c;
}

.progress-bar-laravel {
    background-color: #f5604a;
}

/*<-- OUTILS -->*/
.progress-bar-git {
    background-color: #f05134;
}

.progress-bar-github {
    background-color: #1b1f23;
}


/* FOOTER */
/* ================================================================= */

footer {
    height:15vh;
}

footer p {
    font-size: 20px;
}

footer span {
    font-family: "Playball", Georgia, serif;
    color: rgb(184, 3, 134);
}