/* COMMUN A TOUTE LA PAGE */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html,body
{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 0px;
}

.fond-commun {
    background-color: #ffffff;
    border: outset #555555 6px;
}

h1 {
    font-family: "Playball", Georgia, serif; 
    font-size: 60px;
    font-weight: bold;
    color: rgb(184, 3, 134);
}

h2 {
    font-family: "Playball", Georgia, serif; 
    font-size: 45px;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-family: "Playball", Georgia, serif; 
    font-size: 45px;
    font-weight: bold;
    color: #000000;
}

p {
    font-family: "Lobster two", Georgia, serif;
    color: #000000;
}

/* <-- NAVBAR --> */
/* <-- =========================================================================================================================================================================================================== --> */
nav img {
    width: 10vw;
}

.navbar-nav a {
    font-family: "Lobster two", Georgia, serif;
    font-size: 35px;
    font-weight: bold;
}

.navbar-nav a:hover {
    transform: scale(1.2);
    transition: 1.5s;
}


/* ACCUEIL */
/* ================================================================= */

#accueil {
    background-image: url(../ressources/images/background-code.png);
    background-size: cover;
    background-position: center;
}

/* A PROPOS */
/* ================================================================= */

#photo-portrait {
    width: 10vw;
    border-radius: 100%;
    border: outset #555555 3px;
}

.presentation p {
    font-size: 25px;
}

.it {   /* <= a modiffier voir classe bootsrap*/
    font-style: italic;
    font-weight: initial;
}

.infos {
    background-color: #ffffff;
    border: outset #555555 3px;
    border-radius: 10px;
}

.infos .card-header {
    border-bottom: outset #555555 2px;
}